/* 重写 #detail 的 padding */
#detail:has(#text-editor-container) {
  padding: 0;
}

#text-editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#text-editor-header {
  padding: 1rem 2rem;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
}

#text-editor-header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#text-editor-header-right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* 为输入框之间添加间距 */
#text-editor-container p input + input {
  margin-left: 0.5rem;
}

/* 为顶部栏的各个元素之间添加等距间距 */
#text-editor-header-left > p {
  gap: 0.5rem;
}

#text-editor-header-right > select,
#text-editor-header-right > button {
  margin-left: 0.5rem;
}

#text-editor-wrapper {
  flex: 1;
  position: relative;
  min-height: 0;
}

#text-editor-footer {
  padding: 0.5rem 1rem;
  border-top: 1px solid #e3e3e3;
  background: #f7f7f7;
  font-size: 0.875rem;
  color: #666;
}

/* 使用与 #contact-form 相同的样式 */
#text-editor-container p,
#text-editor-container label {
  display: flex;
  gap: 0.5rem;
}

#text-editor-container p span,
#text-editor-container label span {
  width: 8rem;
}

#text-editor-container p input,
#text-editor-container label input,
#text-editor-container label textarea {
  flex-grow: 1;
}

#text-editor-container p button,
#text-editor-container label button {
  z-index: 1;
  margin-left: -2rem;
  cursor: pointer;
  border: 1px solid #ccc;
}

#text-editor-container input[disabled] {
  background-color: #f0f0f0;
  color: #a0a0a0;
  border: 1px solid #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}
